http-listener-2/src/main/mule/http-listener-2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e14e654f-3fc2-45f9-86bc-7163e5deaef8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:listener-config name="HTTP_Listener_config1" doc:name="HTTP Listener config" doc:id="8e7ab5d5-f60c-4d64-8641-2f8610281da6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="http-listener-2Flow" doc:id="6fa5cc3a-563f-4737-9714-282fdef67803" >
		<http:listener doc:name="Listener" doc:id="6cca0e66-4658-499b-b3f1-f2f62d8fedb5" config-ref="HTTP_Listener_config1" path="/login"/>
		<set-payload value='#["Hello"++ attributes.queryParams.user!]' doc:name="Set Payload" doc:id="2088fe44-d275-4762-9809-e6d15b890dfe" />
	</flow>
</mule>
